.homepage {
  margin: 0 auto;
}

.article {
  padding-top: 100px;
  padding-bottom: 20px;
}

.article__title {
  max-width: 800px;
  margin: auto;
}

.article__content {
  max-width: 800px;
  margin: auto;
}

.header {
  width: 100%;
  background-color: #FF6F61;
  padding: 3em 1em;

}

.footer {
  background-color: #FFDA29;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 400px) {
  .homepage {
    margin-top: 100px;
  }
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
  .header {
    min-width: 400px;
    margin: 0 auto;
    text-align: center;
  }
}

@media only screen and (min-width: 961px) {
  .homepage {
    width: 100%;
  }
  .header {
    min-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
}